<section class="about-me">
  <header><h1>About me</h1></header>
  <img class="profile" src="/images/profile.png"/>
  <p>I am a <em>tech enthousiast</em> who likes to play with everything related to <em>web 
      development</em>. <br /> I currently work as a <em>software architect</em> for 
    <a href="http://www.maarch.com/en">Maarch.</a></p>
  <a class="right" href="/about-me.html">Read more...</a>
  <h2>Where am I?</h2>
  <ul>
    <li><a data-service="email" href="mailto:self@aerdhyl.eu">Email</a></li>
    <li><a data-service="linkedin" href="http://www.linkedin.com/in/brunocarlin">LinkedIn</a></li>
    <li><a data-service="twitter" href="http://twitter.com/#!/brunocarlin">Twitter</a></li>
    <li><a data-service="flickr" href="http://www.flickr.com/photos/69681083@N03/">Flickr</a></li>
    <li><a data-service="delicious" href="http://delicious.com/aerdhyl">Delicious</a></li>
    <li><a data-service="bitbucket" href="https://bitbucket.org/aerdhyl">Bitbucket</a></li>
    <!--<li><a data-icon="/images/github.png" href="http://www.flickr.com/photos/69681083@N03/">Github</a></li>-->
  </ul>
  
</section>