<nav>
  <ul class="menu">
    <li><a title="Home Page" href="/index.html" 
           data-img-on="/images/home-lg-20.png"
           data-img-hover="/images/home-dg-20.png">Home</a></li>
    <li><a title="My Blog" href="/blog/" 
           data-img-on="/images/blog-lg-20.png"
           data-img-hover="/images/blog-dg-20.png">Blog</a></li>
    <li><a title="About" href="/about.html" 
           data-img-on="/images/about-lg-20.png"
           data-img-hover="/images/about-dg-20.png">About me</a></li>
  </ul>
</nav>