{% if paginator.total_pages > 1 %}
<section class="main-content">
  <nav>
    <ul>
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
          <li class="prev"><a href="/blog/">previous posts</a></li>
        {% else %}
          <li class="prev"><a href="/blog/page{{paginator.previous_page}}/">previous posts</a></li>
        {% endif %}
      {% endif %}
      {% if paginator.next_page %}
      <li class="next"><a href="/blog/page{{paginator.next_page}}/">next posts</a></li>
      {% endif %}
    </ul>
  </nav>
</section>
{% endif %}