<article class="main-content">
  <header>
    
    <h1><a href='{{post.url}}'>
      {{post.title}}
    </a></h1>
    <time datetime="{{ post.date | date:"%Y-%m-%d" }}" pubdate>
      {{ post.date | date_to_long_string }}
    </time>
  </header>
  {% if single_post %}
    {{ content }}
  {% else %}
    {{ post.content }}
    <footer>
        {% include disqus_comment_count.html %}
    </footer>
  {% endif %}
</article>

{% if single_post %}
<section class="main-content">
  <nav>
    <ul>
    {% if page.previous %}
      <li class="next"><a rel="prev" href="{{page.previous.url}}">{{page.previous.title}}</a></li>
    {% endif %}
    {% if page.next %}
      <li class="prev"><a rel="next" href="{{page.next.url}}">{{page.next.title}}</a></li>
    {% endif %}
    </ul>
  </nav>
</section>
{% include disqus_comments.html %}
{% endif %}
