

@mixin Cagliostro-font {
  font: {
    family:  'Cagliostro', sans-serif;
  }
}

@mixin sans-font {
  font-family: "Lucida Sans", "DejaVu Sans", Arial, sans-serif;
}

@mixin mono-font {
  font-family: "Lucida Sans Typewriter", "DejaVu Sans Mono", "Courier New", monospace;
}

@mixin headings-font {
  font-family: $headings-font;
}
