$grid-numCol: 12 !default;
$grid-gutter: 3.8% !default;
$grid-colWidth: (100% - ($grid-numCol - 1) * $grid-gutter) / $grid-numCol;
$grid-width: 1140px !default;
$grid-align: "center" !default;


/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  width: 100%;
  max-width: $grid-width;
  min-width: 755px;
  overflow: hidden;
  
  @if $grid-align == "left" {
    margin: 0 auto 0 0;
  } @else if $grid-align == "right" {
    margin: 0 0 0 auto;
  } @else {
    margin: 0 auto;
  }
  
  @for $i from 1 to $grid-numCol + 1 {
    .span#{$i} {
      width: $grid-colWidth * $i + $grid-gutter * ($i - 1);
      margin-right: $grid-gutter;
      float: left;
      min-height: 1px;
    }
    .offset#{$i} {
      margin-left: ($grid-colWidth + $grid-gutter) * $i;
    }
  }
  
  .last {
    margin-right: 0px;
  }
}



img, object, embed {
  max-width: 100%;
}

img {
  height: auto;
}


/* Smaller screens */

@media only screen and (max-width: 1023px) {

  body {
    font-size: 0.8em;
    line-height: 1.5em;
  }
  
}


/* Mobile */

@media handheld, only screen and (max-width: 767px) {

  body {
    font-size: 16px;
    -webkit-text-size-adjust: none;
  }
  
  .row, body, .container {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .row .span1, .row .span2, .row .span3, .row .span4, .row .span5, .row .span6, .row .span7, .row .span8, .row .span9, .row .span10, .row .span11, .row .span12 {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }

}