//@import "compass/typography/lists/horizontal-list";
//@import "compass/typography/lists/inline-block-list";
@import "compass/css3/box";


$block-width: 360px;
$block-height: 180px;

body.home {
  background-color: $home-bg;
  color: $cream;

  .wrapper {
    width: $block-width;
    height: $block-height;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: {
      left: -($block-width/2);
      top: -($block-height/2);
    }
  }
  
  .title {
    @include Qlassik-font;
    //single-text-shadow([$color], [$hoff], [$voff], [$blur])
    @include single-text-shadow($light-gray, 1px, 1px, 2px);
    font: {
      size: 5em;
      weight: bold;
    }
    line-height: 1em;
    text-align: center;
    margin-bottom: 40px;
  }
  
  ul {
    //@include inline-block-list;
    @include single-text-shadow($light-gray, 1px, 1px, 2px);
    width: 100%;
    @include display-box;
    @include box-orient(horizontal);
    //@include box-pack(justify);
  }
  
  li {
    @include box-flex(1);
    text-align: center;
    //width: $block-width / 3;
    //float: left;
    
    //&:first-child {
    //  text-align: left;
    //}
    img {
      //visibility: hidden;
      display: block;
      margin: {
        left: auto;
        right: auto;
        bottom: 10px;
      }
      
    }
    //&:hover img {
    //  visibility: visible;
    //}
  }
  
  a {
    @include Qlassik-font;
    color: inherit;
    text-decoration: inherit;
    font: {
      size: 1.9em;
    }
    line-height: 1.1em;
  }
}

html.no-flexbox body.home {
  li {
    float: left;
    width: $block-width/3;
    text-align: center;
  }
}
