body {
  width: $site-width;
  margin: {
    left: auto;
    right: auto;
  }
}

body > header {
  margin-bottom: 40px;
}

section, article, aside {
  margin-bottom: 40px;
}

section > article {
  margin-bottom: 0;
}

.wrapper {
  margin-left: $sidebar-width + $gutter-width;
  width: $maincontent-width;
  position: relative;
}

.asidebar {
  width: $sidebar-width;
  right: - $sidebar-width;
  position: absolute;
}

.sidebar {
  width: $sidebar-width;
  position: absolute;
  left: -($sidebar-width + $gutter-width);
}

body > footer {
  position: relative;
  bottom: 0px;
  left: 0;
  right: 0;
}
