$light-blue: #08C;
$dark-blue: #005580;
$cream: #EFEBD0;
$light-gray: #857D7A;
$dark-gray: #655D5A;

$background-color: white;
$headings-color: $dark-gray;
$sidebar-bg: $dark-blue;
$home-bg: $sidebar-bg;
$text-color: black;
$link-color: $light-blue;
$link-hover-color: $dark-blue;

$base-font-size: 13px;
$headings-font: Cagliostro, sans;

$grid-numCol: 4;
$grid-width: 800px;
$grid-align: "left";
$grid-gutter: 5%;

//$site-width: 1000px;
//$maincontent-width: 550px;
//$gutter-width: 40px;
//$sidebar-width: ($site-width - ($maincontent-width + 2 * $gutter-width) ) / 2;