@import "compass/utilities/general/clearfix";

article {
  header {
    margin: {
      bottom: 30px;
      top: 5px;
    }
    
    h1 {
      border-bottom: gray 1px solid;
      padding-bottom: 10px;
      margin-bottom: 0;
      
      a:hover {
        decoration: none;
      }
    }
  }
  h1 {
    line-height: 1em;
  }
  aside {
    font-size: 0.8em;
  }
}

header h1 {
  margin-top: 10px;
}

time {
  color: $light-gray;
}

a[rel=tag]:before  {  
  //content: url('/images/tag-lg-11.png');
  vertical-align: bottom;
  padding-right: 5px;
}

nav.prevNext {
  @include clearfix;
  border-bottom: gray 1px solid;
  border-top: gray 1px solid;
  margin-top: 2em;
  margin-bottom: 2em;
  
  .prev {
    float: left;
    &:before {
      content: "<  ";
    }
  }
  .next {
    float: right;
    &:after {
      content: "  >";
    }
  }
}
