<div class="span12" id="footercolumn">
  <p>Contents &copy; {{update_date.strftime('%Y')}}
    <a href="mailto:{{blog_email}}">{{blog_author}}</a></p>
  <p>Page generated with <a href="http://nikola.ralsina.com.ar">Nikola</a>
     the {{update_date.strftime('%d %B %Y')}}</p>
</div>
