<div class="span12" id="footercolumn">
  <p>
    Page generated with <a href="http://nikola.ralsina.com.ar">Nikola</a>
    the {{update_date.strftime('%d %B %Y')}}. Sources of this site are
    available on
    <a href="https://github.com/bcarlin/bcarlin.net">Github</a>.
    <br />
    <span xmlns:dc="http://purl.org/dc/elements/1.1/"
      href="http://purl.org/dc/dcmitype/Text"
      property="dc:title" rel="dc:type">This website content</span>
    by
    <a xmlns:cc="http://creativecommons.org/ns#" href="http://bcarlin.net"
       property="cc:attributionName"
       rel="cc:attributionURL">Bruno Carlin</a>
    is licensed under a
    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/fr/">
      Creative Commons Attribution 3.0 License
      <span class="custom-icon">CC</span>
      <span class="custom-icon">BY</span>
    </a>
  </p>
</div>
