<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <img src="/assets/img/profile.png" class="profile" alt="Bruno Carlin" />
      <a class="brand" href="{{abs_link('/')}}" title="{{blog_title}}">
        {{blog_title}}
      </a>
      <ul class="nav">
        {% for url, text in sidebar_links[lang] %}
        <li><a href="{{url}}">{{text}}</a></li>
        {% endfor %}
      </ul>
      <ul class="nav pull-right">
        <li><a class="custom-icon" href="https://twitter.com/BrunoCarlin" rel="me">twitter</a></li>
        <li><a class="custom-icon" href="https://plus.google.com/u/0/111038064246002564897" rel="me">googleplus</a></li>
        <li><a class="custom-icon" href="https://github.com/bcarlin" rel="me">github</a></li>
        <li><a class="custom-icon" href="http://www.linkedin.com/in/brunocarlin" rel="me">linkedin</a></li>
        <li><a class="custom-icon" href="mailto:bruno@bcarlin.net" rel="me">email</a></li>
        <li><a class="custom-icon" href="/blog/rss.xml" rel="alternate">rss</a></li>
      </ul>
    </div>
  </div>
</div>
