<img class="profile" src="/assets/img/profile.png"/>
<ul class="menu unstyled">
    {% if license %}
    <li>{{license}}</li>
    {% endif %}
    {% for url, text in sidebar_links[lang] %}
    <li><a href="{{url}}">{{text}}</a></li>
    {% endfor %}
    {% if search_form %}
    <li>{{search_form}}</li>
    {% endif %}
</ul>
