<!DOCTYPE html>
{{set_locale(lang)}}
<html lang="{{lang}}">
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{description}}" >
  <meta name="author" content="{{blog_author}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}} | {{blog_title}}</title>
  <!-- Le styles -->
  <link href="http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic,700italic|Julius+Sans+One" rel="stylesheet" type='text/css'>

  {% if use_bundles %}
    {% if use_cdn %}
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/assets/css/all.css" rel="stylesheet" type="text/css">
    {% else %}
    <link href="/assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
    {% endif %}
  {% else %}
    {% if use_cdn %}
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
    {% else %}
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
    {% endif %}
    <link href="/assets/css/rst.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/code.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/colorbox.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/theme.css" rel="stylesheet" type="text/css"/>
    {% if has_custom_css %}
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css">
    {% endif %}
  {% endif %}
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  {% if rss_link %}
  {{rss_link}}
  {% else %}
  {%  for language in translations %}
  <link rel="alternate" type="application/rss+xml" title="RSS ({{language}})" href="{{_link("rss", None, lang)}}">
  {% endfor %}
  {% endif %}
  {% block extra_head %}{% endblock %}
  {{extra_head_data}}
</head>
<body>
<div class="container" id="container">
  <header class="row-fluid" id="titlerow">
    {% include "_header.tmpl" %}
  </header>

  <div class="row-fluid" id="contentrow">
    <div class="span12" id="contentcolumn">
        {% block content %}{% endblock %}
    </div>
  </div>

  <footer class="row-fluid" id="footerrow">
    {% include "_footer.tmpl" %}
  </footer>
</div>
    <!-- late load javascript -->
    {% if use_bundles %}
        {% if use_cdn %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
            <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
            <script src="/assets/js/all.js" type="text/javascript"></script>
        {% else %}
            <script src="/assets/js/all-nocdn.js" type="text/javascript"></script>
        {% endif %}
    {% else %}
        {% if use_cdn %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
            <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
        {% else %}
            <script src="/assets/js/jquery-1.7.2.min.js" type="text/javascript"></script>
            <script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
        {% endif %}
        <script src="/assets/js/jquery.colorbox-min.js" type="text/javascript"></script>
    {% endif %}
    {{analytics}}
    <script type="text/javascript">jQuery("a.image-reference").colorbox({rel:"gal",maxWidth:"80%",maxHeight:"80%",scalePhotos:true});</script>
</body>
</html>
