## -*- coding: utf-8 -*-
<%inherit file="list_post.tmpl"/>
<%block name="extra_head">
        <!-- Begin tag.tmpl -->
        % for language in translations:
            <link rel="alternate" type="application/rss+xml" type="application/rss+xml" title="RSS for tag {{tag}} ({{language}})" href="{{_link("tag_rss", tag, language)}}">
        % endfor
        <!-- End tag.tmpl -->
</%block>
