<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bruno Carlin - {{ page.title }}</title>
    {% include syndication.html %}
    {% include style.html %} 
    {% include top-javascript.html %}
  </head>
  <body>
    {% include header.html %}
    
    <div class="wrapper" role="main"> 
      <div class="sidebar">
        {% include box_about.html %}
        {% include box_flickr.html %}
      </div>   
      
      {{ content }}

    </div>
    
    {% include footer.html %}
    {% include bottom-javascript.html %}
  </body>
</html>