<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bruno Carlin - {{ page.title }}</title>
    {% include syndication.html %}
    {% include style.html %} 
    {% include top-javascript.html %}
  </head>
  <body class="container">

    {% include header.html %}
    
    <div class="row">
      
      <div class="sidebar span1">
        {% include box_about.html %}
        <!--{% include box_flickr.html %}-->
      </div>   
      
      <div class="span3 last">
        {{ content }}
      </div>

    </div>
    
    {% include footer.html %}
    {% include bottom-javascript.html %}
  </body>
</html>