{% assign img_color = 'w' %}
{% assign img_size = '35' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bruno Carlin - {{ page.title }}</title>
    {% include style.html %} 
    {% include top-javascript.html %} 
  </head>
  <body class="home">
    <div class="wrapper">
      <div class="title">Bruno Carlin</div>
      <ul>
        <li><a title="home" href="/home.html"><img src="/images/home-c-35.png" />Home</a></li>
        <li><a title="blog" href="/blog/"><img src="/images/blog-c-35.png" />Blog</a></li>
        <li><a title="about" href="/about-me.html"><img src="/images/about-c-35.png" />About me</a></li>
      </ul>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27133411-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
